@charset "utf-8";
/*
@名称: base
@功能: 重设浏览器默认样式
*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
color:black;
background:white;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
margin:0;
padding:0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
font:12px SimSun,tahoma,arial,sans-serif;
}
input,select,textarea {
font-size:100%;
}
/* 去掉各Table cell 的边距并让其边重合 */
table {
border-collapse:collapse;
border-spacing:0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
border:none;
font-variant:normal;
}
/* 一致的 del 样式 */
del {
text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
font-style:normal;
font-weight:500;
}
/* 去掉列表前的标识, li 会继承 */
ol,ul {
list-style:none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
text-align:left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:500;
}
q:before,q:after {
content:'';
}
/* 统一上标和下标 */
sub, sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}
sup {
top:-0.5em;
}
sub {
bottom:-0.25em;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
text-decoration:underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
text-decoration:none;
}
/* IE6,7焦点点状线去除 */
a:focus,*:focus {
outline:none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
content:"";
display:table;
}
.clearfix:after {
clear:both;
overflow:hidden;
}
.clearfix {
zoom:1; /* for IE6 IE7 */
}
.clear{
clear:both;
display:block;
overflow:hidden;
height:0;
line-height:0;
font-size:0;
}
/* 设置显示和隐藏, 通常用来与 JS 配合 */
.hide {
display:none !important;
visibility:hidden;
}
.block {
display:block !important;
}
/* 设置内联, 减少浮动带来的bug */
.fl {
float:left;
display:inline;
}
.fr {
float:right;
display:inline;
} 


/**************开始************/
.main {
	margin:0 auto;
	width:100%;
	height:100%;
	font-family:"Microsoft YaHei";
	font-size:12px;
}
.main_nav {
	background:#684796;
	height:40px;
}
.main_nav .main_nav_list {
	width:70%;
	margin:0 auto;
	line-height:33px;
	color:#fff;
}
.roomlog{
	margin-top: 5px;
}
.main_nav .main_nav_list img {
	padding-left:4px;
	float:left;
	padding-top:3px;
}
.main_nav .main_nav_list ul {
	padding-left:20px;
}
.main_nav .main_nav_list ul li {
	float:left;
	padding-right:20px;
	line-height:33px;
	margin-left: 30px;
	margin-top: 5px;
}
.main_nav .main_nav_list ul li a {
	color:#fff;
}
.main_nav .main_nav_list ul li a:hover {
	text-decoration:underline;
}
.main_nav .main_nav_list .name {
	text-decoration:underline;
	padding-right:28px;
}
.main_nav .main_nav_list .name a {
	color:#fff;
}
.main_nav .main_nav_list .log {
	padding-left:15px;
	padding-right:7px;
}
.main_nav .main_nav_list b {
	padding-left:2px;
}
.main_nav .main_nav_list .log a {
	color:#fff;
}
.index_center {
	background:#f5f3f8;
}
.main_mid {
	background:url(../images/mid.png) repeat-x;
	width:100%;
	height:100%;
}

.main_mid .main_mid_center_small {
	width:100%;
	margin:0 auto;
	height:50px;
	background-color: #ffffff;
}

.main_mid .main_mid_center_small div{
	padding:8px;
	font-size: 13px;
}

.main_mid .main_mid_center_small div .time {
      color:#a5a5a5;
      font-size: 16px;
}
.gift_img {
      color:#a5a5a5;
	  padding-top:10px;
}

.main_mid .main_mid_center_small  font{
	margin-left:5px;
}

.main_mid .main_mid_center {
	width:1050px;
	margin:0 auto;
	height:auto;
	background:url(../images/mid2.png) no-repeat;
}
.main_mid_show {
	width:229px;
	height:100px;
	background:#ebe9ee;
	margin-top:5px;
	margin-bottom:3px;
}
.main_mid_center .main_mid_left .user {
	padding:3px 3px 11px 4px;
}
.main_mid_center .main_mid_left .gz {
	padding-left:16px;
}
.main_mid_left .main_mid_message {
	padding-left:3px;
	padding-top:6px;
}
.main_mid_left .main_mid_message span {
	color:#684796;
	font-weight:bold;
	font-size:14px;
}
.main_mid_left .main_mid_message p {
	padding-top:6px;
	padding-left:6px;
}
.main_mid_left .main_mid_message img {
	vertical-align:middle;
}
.main_mid_left .main_mid_message .ico3 {
	padding-top:10px;
}
.main_mid_left .main_mid_message .ico3 img {
	padding-right:20px;
}
.main_mid_search .search_title {
      height:23px;
	  width:229px;
	  background:#684796;
	  clear:both;
}
.main_mid_search .search_title ul li {
      float:left;
	  line-height:21px;
	  padding-left:8px;
	  color:#170136;
	  margin-top:2px;
	  padding-right:8px;
	  cursor:pointer;
	  margin-left:2px;
	  font-weight:bold;
}
.main_mid_search .search_title .tabFocus {
	background:#d1cadc;
	margin-top:2px;
	height:21px;
	padding-left:8px;
	padding-right:8px;
	margin-left:2px;
	display:block;
	cursor:pointer;
}
.main_mid_search .search_bj {
      background:#ebe9ee;
	  padding-bottom:1px;
	  width:229px;
	  height: auto;
}
.main_mid_search .search_bj input {
      width:95%;
	  height:18px;
	  border:1px solid #d8d8d8;
	  margin:4px;
	  color:#bfbfbf;
	  text-indent:0.3em;
}
.main_mid_search .search_name {
      background:#fff;
	  height:auto !important;
	  width:227px;
	  margin-left:1px;
	  margin-top:2px;
}
.main_mid_search .search_name ul li{
      padding-left:7px;
      padding-bottom:20px;
	  height:26px;
	  line-height:23px;
	  padding-right:1px;
	  background-color: #FFF0F5;
	  margin-top: 1px;
}

.main_mid_search .search_name ul li:hover {
      background:#d1cadc;
	  height:26px;
}
.main_mid_search .search_name ul li img {
      padding-right:2px;
	  vertical-align:middle;
	  padding-bottom:5px;
}
.main_mid_video {
	  margin-top:5px;
      margin-left:10px;
	  width:437px;
}
.main_mid_video .main_mid_chat {
      margin-top:7px;
      height: auto !important; 
	  height: 100%; /*IE6不识别min-height*/ 
}
.main_mid_video .main_mid_chat .main_mid_chat_list {  
      height:35px;
	  background:#ebe9ee;
	  width:437px;
}
.main_mid_chat_list .chat_list_select {
      width:437;
}
.main_mid_video .main_mid_chat .chat_list_select li {
      float:left;
	  line-height:28px;
	  width:42px;
	  cursor:pointer;
	  text-align:center;
	  margin-left:3px;
	   margin-top:3px;
}
.main_mid_video .main_mid_chat .chat_list_select .tabFocus2 {
      background:url(../images/ico4.png) no-repeat 0 3px;
	  
}
.main_mid_video .main_mid_chat .chat_list_select .tabFocus2 a{
	  color:#ffffff;
}
.main_mid_chat_list .chat_list_right {
       line-height:28px;
}
.main_mid_chat_list .chat_list_right span {
       float:left;
	   margin-right:11px;
}
.main_mid_chat_list .chat_list_right span a {
       color:#000;
}
.main_mid_chat_list .chat_list_right span img {
       margin-left:23px;
	   cursor:pointer;
	   margin-right:10px;
}
.main_mid_chat_list .chat_list_right span .n2 {
       margin-right:10px;
}
.main_mid_chat_messages {
       clear:both;
	   height:auto !important;
	   border-left:1px solid #ebe9ee;
	   border-right:1px solid #ebe9ee;
	   width:435px;
	   overflow:hidden;
	   background:#fff;
}
hr{
	margin-top:1px;
	border-top:1px solid #ebe9ee;
}
.main_mid_chat_messages ul li span {
      display:inline;
}
.main_mid_chat_messages ul li {
	  float:left;    
	  padding-bottom:6px;
	  padding-top:6px;
	  margin-top:6px;
	  margin-left:18px;
}
.main_mid_chat_messages ul li img {
      vertical-align:middle;
	  padding-right:3px;
}
.main_mid_right_give ul li .username {
      color:#684796;
	  padding-right:12px;
	  font-weight:bold;
}
.main_mid_right_give ul li .dui {
      padding-right:8px;
	  color:#868686;
}
.main_mid_right_give ul li .xitong {
      padding-right:8px;
	  color:red;
}
.main_mid_right_give ul li .time {
      color:#a5a5a5;
	  padding-right:10px;
}
.main_mid_right_give ul li .n3 {
      color:#000;
}
.chat_messages_talk {
      height:60px;
	  background:#ebe9ee;
	  line-height:30px;
	  vertical-align:middle;
	  position:absolute;
	  width:363px;
	  bottom: 30px;
}
.chat_messages_talk .q1 {
	margin-left:5px;

}
.chat_messages_talk .q1 select {
	width:113px;
	height:20px;
	border:1px solid #d8d8d8;
}
.chat_messages_talk .q2 {
	width:10px;
	height:10px;
	vertical-align:middle;
	border:1px solid #d8d8d8;
	margin-right:2px;
}
.chat_messages_talk .q3 {
	width:290px;
	height:18px;
	margin-left:5px;
	line-height:18px;
	border:1px solid #d8d8d8;
}
.chat_messages_talk .q4 {
	vertical-align:middle;
	margin-top:-5px;
}
.chat_messages_talk .q5 {
	background:url(../images/fybutton.png) no-repeat;
	width:53px;
	height:25px;
	border:none;
	color:#fff;
	font-size:14px;
	cursor:pointer;
	font-family:"Microsoft YaHei";
}
.chat_messages_talk .q5:hover {
	/*
	filter:alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;*/
}
.main_mid_right {
      width:365px;
	  margin-top:8px;
	  
}
.main_mid_right .title3 {
      height:25px;
	  background:#5d398e;
	  width:284px;
	  line-height:25px;
}
.main_mid_right .title3 .gs a {
	text-decoration:underline;
	color:#FFF;
}
.main_mid_right .title3 span {
      padding:0 19px 0 6px;
	  color:#fff;
}

.main_mid_video .title3 {
      height:25px;
	  background:#5d398e;
	  width:284px;
	  line-height:25px;
}
.main_mid_video .title3 .gs a {
	text-decoration:underline;
	color:#FFF;
}
.main_mid_video .title3 span {
      padding:0 19px 0 6px;
	  color:#fff;
}

.main_mid_video .news_nr {
      height:61px;
	  background:#e9e7ed;
}
.main_mid_video .news_nr p {
     text-indent:2em;
	 color:#000;
	 padding:4px 15px 0 11px;
}

.main_mid_left .title3 {
      height:25px;
	  background:#5d398e;
	  width:284px;
	  line-height:25px;
}
.main_mid_left .title3 .gs a {
	text-decoration:underline;
	color:#FFF;
}
.main_mid_left .title3 span {
      padding:0 19px 0 6px;
	  color:#fff;
}

.main_mid_left .news_nr {
      height:61px;
	  background:#e9e7ed;
}
.main_mid_left .news_nr p {
     text-indent:2em;
	 color:#000;
	 padding:4px 15px 0 11px;
}

.main_mid_right .news_nr {
      height:61px;
	  background:#e9e7ed;
}
.main_mid_right .news_nr p {
     text-indent:2em;
	 color:#000;
	 padding:4px 15px 0 11px;
}
.main_mid_right_tab {
     margin-top:-4px;
}

.main_mid_right_tab .tab_title {
     float:left;
	 line-height:18px;
	 width:20px;
	 background:#d1cadc; 
}
.main_mid_right_tab .tab_title ul li {
     float:left;
	 line-height:18px;
	 cursor:pointer;
	 color:#170136;
	 text-align:center;
	 width:20px;
}
.main_mid_right_tab .tab_title ul .tabFocus3 {
	 width:20px;
	 background:#684796;
}

.main_mid_right_tab .tab_title ul .tabFocus3 a{
	  color:#ffffff;
}
.main_mid_right_tab_list {
	 float:right;
     width:340px;
	 overflow:hidden;
	 border-left:1px solid #ebe9ee;
	 height:90px;
	 border-bottom:1px solid #ebe9ee;
	 border-right:1px solid #ebe9ee;
	 background:#fff;
}
.main_mid_right_tab_list ul {
     padding-left:2px;
	 height:160px;
	 overflow:hidden;
}
.main_mid_right_tab_list ul li {
     clear:both;
	 height:24px;
	 line-height:21px;
	 padding-top:3px;
}
.main_mid_right_tab_list ul li img {
    padding-right:11px;
}
.main_mid_right_tab_list ul li .n4 {
     padding-right:11px;
}
.main_mid_right_tab_list ul li  .ico5 {
     padding-left:10px;
	 font-size:14px;
	 font-weight:bold;
	 padding-right:16px;
}
.main_mid_right_give {
	margin-top:2px;
}
.main_mid_right_give  .hot_tab {
	 margin-top:3px;
	 width:365px;
	 height:27px;
	 background:#ebe9ee;
}
.main_mid_right_give .right_give_title {
	background:#ebe9ee;
	height:28px;
	width:365px;
}
.main_mid_right_give .hot_tab_n li {
	float:left;
	width:40px;
	line-height:20px;
	margin-top:4px;
	text-align:center;
	color:#000;
	margin-left:3px;
	cursor:pointer;
}
.main_mid_right_give .hot_tab_n .tabFocus4 {
	width:42px;
	margin-top:4px;
	text-align:center;
	height:22px;
	background:url(../images/ico4.png) no-repeat 0 0px;
	color:#fff;
}

.main_mid_right_give .hot_tab_n .tabFocus4 a{
	  color:#ffffff;
}
.messages_list_zs .hot_tab_right input {
	width:51px;
	height:25px;
	cursor:pointer;
	background:url(../images/czbutton.png) no-repeat;
	border:none;
	text-align:center;
	line-height:22px;
	color:#ff0000;
	font-size:14px;
	font-family:"Microsoft YaHei";
	margin-right:2px;
	margin-top:5px;
	
}
.main_mid_give_messages {
	width:363px;
	height:auto;
	border:1px solid #ebe9ee;
	clear:both;
	background:#fff;
	position:absolute;
	top:238px;
	bottom: 210px;
}

.main_mid_give_messages ul li{
	margin-top:8px;
}

.main_mid_give_messages_p ul li{
	margin-top:8px;
}

.gonggao{
	clear:both;
	margin-left:-5px;
	width:365px;
}
.liwu{
	width:363px;
	height:auto;
	border:1px solid #ebe9ee;
	clear:both;
	background:#fff;
	position:absolute;
	top:238px;
	bottom: 210px;
}

.main_mid_give_messages .give_messages_list li {
	margin-left:8px;
	display:inline-block;
	width:44px;
	height:44px;
	margin-top:8px;
	
}
.main_mid_give_messages ul li img{
	padding-right: 3px;
}
.main_mid_give_messages_p ul li img{
	padding-right: 3px;
}
.main_mid_give_messages .give_messages_list li img {
	width:44px;
	height:44px;
	display:block;
}
.main_mid_give_messages .give_messages_list li img:hover {
	border:2px solid #684796;
	width:46px;
	height:46px;
}
.main_mid_give_messages_p {
	width:363px;
	height:120px;
	border-left:1px solid #ebe9ee;
	border-right:1px solid #ebe9ee;
	clear:both;
	background:#fff;
	position:absolute;
	width:363px;
	bottom: 90px;
}

.main_mid_give_messages_p .give_messages_list li {
	float:left;
	margin-left:8px;
	display:inline-block;
	width:44px;
	height:44px;
	margin-bottom:8px;
}
.main_mid_give_messages_p .give_messages_list li img {
	width:44px;
	height:44px;
	display:block;
}
.main_mid_give_messages_p .give_messages_list li img:hover {
	border:2px solid #684796;
	width:46px;
	height:46px;
}
.messages_list_zs {
	background:#ebe9ee;
	height:36px;
	line-height:36px;
	vertical-align:middle;
	color:#000;
	padding-left:3px;
	bottom: 30px;
	width:435px;
	position:absolute;
	clear: both;
}
.messages_list_zs .q6 select {
	height:18px;
	width:95px;
	border:1px solid #d8d8d8;
}
.messages_list_zs .q7 select {
	width:67px;
	height:18px;
	border:1px solid #d8d8d8;
}
.messages_list_zs .q8 {
	background:url(../images/zsbutton.png) no-repeat;
	width:63px;
	height:25px;
	color:#fff;
	font-size:14px;
	font-family:"Microsoft YaHei";
	cursor:pointer;
	border:none;
}

.news_scroll {
	background:#d1ccee;
	height:30px;
	overflow:hidden;
	position:absolute;
	bottom: 0;
}
.news_scroll .scroll_news p {
	background:#fff;
	width:100%;
	margin-top:3px;
	margin-left:2px;
	line-height:25px;
	
}

/***********尾部***************/
.footer {
	background:url(../images/footbj.png) repeat-x;
	width:100%;
	height:50px;
	clear:both;
	margin-top:30px;
	margin-bottom:2px;
	bottom: -1;
}
.footer .footer_main {
	width:1050px;
	margin:0 auto;
	text-align:center;
}
.footer .footer_main .f1 {
	padding-top:18px;
}
.footer .footer_main .f2 {
	padding-top:7px;
}
.search_bj ul{
	width:227px;
	height:auto;
	overflow:auto;
	position:absolute;
	top:250px;
	bottom: 30px;
	background-color: #fff;
}

.main_mid_chat_messages ul{
	width:435px;
	position:absolute;
	height:auto;
	overflow:auto;
	top:465px;
	bottom: 60px;
	background-color: #fff;
}

.l-state {
float: right;
color: #c60;
font-size: 14px;
font-weight: bold;
margin-right: 15px;
}

.l-gid {
float: right;
color: #b90064;
font-size: 14px;
font-weight: bold;
margin-right: 15px;
}



.l-name {
color: #684796;
margin-right: 5px;
}